# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Development environment.
/.direnv/

# Intermediate output.
/bin/
/obj/

# Output
/result
/output.*
/normals.*
