# --------------------------------------------------------------------------------------------------
# Git file attributes.
# --------------------------------------------------------------------------------------------------

*.obj filter=lfs diff=lfs merge=lfs -text
